#factVolver{
    height:50px; 
    width:200px; 
    margin-top: 20px;
    float: right;
}

#factCancelar{
    height:50px; 
    width:200px; 
    margin-left: 10px;
    margin-top: 20px;
    float: right;
}

#factRealizar{
    height:50px; 
    width:200px; 
    margin-left: 10px;
    margin-top: 20px;
    float: right;
}

#factCodigoPro{
    width: 200px;
    height: 25px;
    margin-left: 10px;
    float: right;
}

#inCodProd{
    display: block;
    padding-top: 50px;
}

#id_codigo{
    width: 200px;
    height: 30px;

    display: inline;
}

#factTotal{
    display: inline;
    padding-left: 75%;
    padding-top: 10px;
}

.textValor{
    display: inline-block;
    width: 150px;
    height: 30px;
    border:0px;
    text-align: right;
}