#agCategoria{
    height:100px; 
    width: 300px;
    position: absolute;
    top: 25%;
    left: 50px;
    display: table-cell;
    text-align: center;
}

#agProveedor{
    height:100px; 
    width: 300px;
    position: absolute;
    top: 25%;
    left: 525px;
    display: table-cell;
    text-align: center;
}

#agProducto{
    height:100px; 
    width: 300px;
    position: absolute;
    top: 25%;
    left: 990px;
    display: table-cell;
    text-align: center;
}

#analisis{
    height:100px; 
    width: 300px;
    position: absolute;
    top: 60%;
    left: 50px;
    display: table-cell;
    text-align: center;
}

#venta{
    height:100px; 
    width: 300px;
    position: absolute;
    top: 60%;
    left: 525px;
    display: table-cell;
    text-align: center;
}

#agUsuario{
    height:100px; 
    width: 300px;
    position: absolute;
    top: 60%;
    left: 990px;
    display: table-cell;
    text-align: center;
}