#agCategoria{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    width: 300px;
    padding: 35px 20px;
}

#agProveedor{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    width: 300px;
    padding: 35px 20px;
}

#agProducto{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    width: 300px;
    padding: 35px 30px;
}

#analisis{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    width: 300px;
    padding: 35px 40px;
}

#adminBoletas{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    width: 300px;
    padding: 35px 40px;
}

#venta{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    width: 300px;
    padding: 35px 40px;
}

#agUsuario{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    width: 300px;
    padding: 35px 40px;
}

#facProv{
    font-size: 30px;
    text-align: center;
    margin: 30px;
    width: 300px;
    padding: 35px 20px;
}

