#ventaVolver{
    height:50px; 
    width:200px; 
    margin-top: 20px;
    float: right;
}

#ventaCancelar{
    height:50px; 
    width:200px; 
    margin-left: 10px;
    margin-top: 20px;
    float: right;
}

#ventaRealizar{
    height:50px; 
    width:200px; 
    margin-left: 10px;
    margin-top: 20px;
    float: right;
}

#id_codigo{
    width: 200px;
    height: 30px;

    display: inline;
}

#btnBuscar{
    vertical-align: unset;
    height:30px;
    padding-top: unset;
}

#inCodProd{
    display: block;
    padding-top: 20px;
}

.textValor{
    display: inline-block;
    width: 150px;
    height: 30px;
    border:0px;
    text-align: right;
}

#laSubtotal{
    display: inline;
    padding-left: 75%;
}

#laIva{
    display: inline;
    padding-left: 75%;
    padding-top: 10px;
}

#laTotal{
    display: inline;
    padding-left: 75%;
    padding-top: 10px;
}