<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Registrarse</title>
</head>
<body style="background-color: #00aae4;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Ingrese su datos necesarios para registrarse</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                        alt="">
                    <h1 class="text-center">Registrarse</h1>
                    <form class="form-signin">
                    <input type="text" class="form-control" id="regRut" placeholder="Ingrese Rut" required autofocus>
                    <input type="text" class="form-control" id="regUsuario" placeholder="Ingrese Nombre Usuario" required>
                    <input type="text" class="form-control" id="regNombre" placeholder="Ingrese Nombre Completo" required>
                    <input type="text" class="form-control" id="regVigencia" placeholder="Ingrese Vigencia" required>
                    <input type="password" class="form-control" id="regPassword" placeholder="Ingrese Contraseña" required autofocus>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn_reg_sesion">
                        Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>