<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/venta.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Analisis Venta</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/principal/">La tía del pan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/principal/">Principal <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar Sesión</button>
          </form>
        </div>
    </nav>
    <h1 style=" text-align: center;">Ventas</h1>
    <!-- Modal Cancelar Venta -->
    <div class="modal fade" id="cancelarVenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cancelar Venta</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <label>¿Esta seguro de cancelar la venta?</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="cancelarVenta()">Aceptar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <form id="producto-form">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group col-4" style="box-sizing: unset; display: inline;">
          <label for ="id_codigo">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}
        <input type="submit" id="btnBuscar" class="btn btn-primary" value="Buscar Producto"/>
      </form>
    </div>
    {% if messages %}
    Prueba
    {% endif %}
    <!-- Tabla Venta -->
    <form id ="venta-form">
      {% csrf_token %}
      <div class="container" style="margin-top: 20px">
        <table class="table table-striped table-bordered table-hover" id="tablaVenta">
            <thead style="background-color: #00aae4; color: white;">
                <tr>
                    <th>Nombre Producto</th>
                    <th>Categoría</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody style="background-color: white; color: black;">

            </tbody>
        </table>
        <hr>
        <div style="text-align:right">
          <label for="subtotal" id="laSubtotal">Subtotal:</label>&nbsp;<input type="text" class="textValor" id="subtotal" value="$ 0">
          <label for="iva" id="laIva">IVA:</label>&nbsp;<input type="text" class="textValor" id="iva" value="$ 0" readonly>
          <label for="total" id="laTotal">Total:</label>&nbsp;<input type="text" class="textValor" id="total" value="$ 0" readonly>
        </div>
      </div>
      <!-- Modal Realizar Venta -->
      <div class="modal fade" id="realizarVenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Realizar Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>¿Esta seguro de realizar la venta?</label>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Aceptar"></input>
              <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
        <!-- Modal Informacion -->
      <div class="modal fade" id="infoRespuesta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
              <div class="modal-body">
                {% if messages %}
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                {% endif %}
                <p id="mensaje">Prueba</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
              </div>
          </div>
        </div>
      </div>
    </form>
    <div>
      <button class="btn btn-outline-success btn-lg active" id="ventaRealizar" data-toggle="modal" data-target="#realizarVenta">Realizar Venta</button>
      <button class="btn btn-outline-danger btn-lg active" id="ventaCancelar" data-toggle="modal" data-target="#cancelarVenta">Cancelar Venta</button>
      <a href="/principal/" role="button" class="btn btn-outline-primary btn-lg active" id="ventaVolver">Volver</a>
    </div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/venta.js' %}"></script>
    {% csrf_token %}
    <script>
      const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $(window).on('load', function (){
        document.getElementById("subtotal").value = "$ 0";
        document.getElementById("iva").value = "$ 0";
        document.getElementById("total").value = "$ 0";
      });

      $("input[type=number]").change(function(){
        console.log("event fired");
      });

      function cancelarVenta(){
        document.querySelectorAll('[id^=prodCod-]').forEach(function (e){e.remove()});
        $("#producto-form").trigger('reset');
        actualizarTotales();
        $("#cancelarVenta").modal('hide');
      }

      function actualizarTotales(){
        var table = document.getElementById("tablaVenta");
        var subTotal = 0
        var IVA = 0
        var total = 0
        for (var i = 1, row; i < table.rows.length - 1 ; i++){
          //Columna 2 para cantidad y 3 valor por cantidad
          row = table.rows[i]
          var cantidad = row.cells[2].querySelectorAll('input[type=number]')[0].value;
          var valor = row.cells[3].innerText.replace("$", "").trim();

          subTotal += cantidad * valor;
        }
        IVA = Math.round(subTotal * 0.19);
        total = subTotal + IVA;

        document.getElementById("subtotal").value = "$ " + subTotal;
        document.getElementById("iva").value = "$ " + IVA;
        document.getElementById("total").value = "$ " + total;
      }

      $("#tablaVenta").on('click', '.close', function(){
        $(this).closest('tr').remove();
        actualizarTotales()
      });

      function generarDatosTabla(){
        var rows = [];
        var headers = [];
        var table = document.getElementById("tablaVenta");

        for (var i = 1, row; i < table.rows.length - 1 ; i++){
          row = table.rows[i];
          rows[i - 1] = {};

          headers[0] = "codigo";
          headers[1] = "cantidad";
          headers[2] = "valor";

          var codigo = row.id.split("-")[1];
          var cantidad = row.cells[2].querySelectorAll('input[type=number]')[0].value;
          var valor = row.cells[3].innerText.replace("$", "").trim();

          rows[i - 1][headers[0]] = codigo;
          rows[i - 1][headers[1]] = cantidad;
          rows[i - 1][headers[2]] = valor;
        }

        var subtotal = document.getElementById("subtotal").value.replace("$", "").trim();
        var iva = document.getElementById("iva").value.replace("$", "").trim();

        var obj = {"datos": rows, "subtotal": subtotal, "iva": iva};
        return JSON.stringify(obj);
      }

      $("#venta-form").submit(function (e){
        e.preventDefault();
        var tabla = generarDatosTabla();
        console.log(tabla);
        var serializeData = $(this).serialize();
        $("#producto-form").trigger('reset');
        //console.log(serializeData);
        $.ajax({
          type: 'POST',
          url: "{% url 'post_venta' %}",
          data: tabla,
          success: function(response){
            document.querySelectorAll('[id^=prodCod-]').forEach(function (e){e.remove()});
            actualizarTotales();
            $("#realizarVenta").modal('hide');
            document.getElementById("mensaje").innerHTML = "Venta realizada.";
            $("#infoRespuesta").modal('show');
          },
          error: function(response){
            $("#realizarVenta").modal('hide');
            document.getElementById("mensaje").innerHTML = "Error al realizar venta.";
            $("#infoRespuesta").modal('show');
          }
        });
      });

      $.ajaxSetup({
          beforeSend: function(xhr, settings){
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
      
      $("#producto-form").submit(function (e){
        e.preventDefault();
        var serializeData = $(this).serialize();
        //console.log(serializeData);

        $.ajax({
          type: 'POST',
          url: "{% url 'post_producto' %}",
          data: serializeData,
          success: function(response){
            //alert(response["instance"]);
            $("#producto.form").trigger('reset');
            $("venCodigoPro").focus();
            if (response["instance"]){
              var instance = JSON.parse(response["instance"]);
              var fields = instance[0]["fields"];
              var fila = document.getElementById(`prodCod-${fields["Codigo"]}`);
              if(fila){
                fila.cells[2].querySelectorAll('input[type=number]')[0].value++;
              }
              else{
                $("#tablaVenta tbody").prepend(
                `<tr id='prodCod-${fields["Codigo"]}'>
                  <td id='nombre'>${fields["Nombre"]||""}</td>
                  <td id='categoria'>${fields["Cat"]["Nombre"]||""}</td>
                  <td id='cantidad'><input type='number' id='cantidad' value='1' min='1' max=${fields["Stock"]} class='form-control col-6' /></td>
                  <td id='valor'>$ ${fields["Valor"]||""}</td>
                  <td><button class='close' arial-label='Close' ><span aria-hidden="true">&times;</span></button></td>
                </tr>`);
              }
              actualizarTotales();
            }
            else if (response["error"] == "doesNotExist"){
              $("#producto-form").trigger('reset');
              document.getElementById("mensaje").innerHTML = "El producto no existe.";
              $("#infoRespuesta").modal('show');
            }
            else if (response["error"] == "noStock"){
              $("#producto-form").trigger('reset');
              document.getElementById("mensaje").innerHTML = "El producto no se encuentra disponible.";
              $("#infoRespuesta").modal('show');             
            }
          },
          error: function(response){
            document.getElementById("mensaje").innerHTML = "Sucedio un error al realizar la consulta.";
            $("#infoRespuesta").modal('show');   
          }
        });
      });
    </script>
</body>
</html>