*.pyc
__pycache__/
laTiaDelPan/frontend/migrations/__pycache__/__init__.cpython-310.pyc
laTiaDelPan/backend/Vistas/__pycache__/VistaUsuario.cpython-310.pyc
.vscode/launch.json
laTiaDelPan/backend/migrations/__init__.py
laTiaDelPan/backend/migrations/0001_initial.py
laTiaDelPan/backend/Vistas/__pycache__/VistaUsuario.cpython-310.pyc
laTiaDelPan/backend/Vistas/__pycache__/VistaUsuario.cpython-310.pyc
