<!-- Navbar -->
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/principal/">La tía del pan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/principal/">Principal <span class="sr-only">(current)</span></a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'cerrarSesion' %}">
            {% csrf_token %}
            <span id="usuario"></span>
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar Sesión</button>
        </form>
    </div>
</nav>
<h1 style="color: black; text-align: center; font-weight: bold; margin-top:70px;">LA TÍA DEL PAN</h1>
<span id="borde"></span>
<script>
    //const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings){
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", jQuery("[name=csrfmiddlewaretoken]").val());
        }
        }
    });
    $(document).ready(function() {
        $.ajax({
          type: "POST",
          url: "{% url 'obtenerNombre' %}",
          data: { "myvar" : "somedata" },
          success: function(response){
            if (response["nombreCompleto"]){
                document.getElementById("usuario").innerHTML = response["nombreCompleto"];
            }
          }
        });
      });
</script>