<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Pagina Principal</title>
</head>
<body>
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Botones Pagina Principal -->
    <div class="container" style="margin-top: 20px;">
      <div class="d-grid gap-2 d-md-block">
        <div id="botonesAdmin" style="display:none;" class="container">
          <h1 class="text-lg-center">Administracion</h1>
          <a href="/categoria/" role="button" class="btn btn-outline-primary btn-rounded btn-lg active" id="agCategoria">Administrar Categorías</a>
          <a href="/proveedor/" role="button" class="btn btn-outline-primary btn-rounded btn-lg active" id="agProveedor">Administrar Proveedores</a>
          <a href="/producto/" role="button" class="btn btn-outline-primary btn-rounded btn-lg active" id="agProducto">Administrar Productos</a>
          <a href="/usuario/" role="button" class="btn btn-outline-primary btn-rounded btn-lg active" id="agUsuario">Administrar Usuarios</a>
          <a href="/facturaProveedor/" role="button" class="btn btn-outline-primary btn-rounded btn-lg active" id="facProv">Admin Facturas de Proveedor</a>
          <span id="borde"></span>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <div class="container" style="display:inline;">
          <h1 class="text-lg-center">Ventas</h1>
          <a href="/venta/" role="button" class="btn btn-outline-primary btn-rounded btn-lg active" id="venta">Realizar <br> Venta</a>
          <a href="/adminBoletas/" role="button" class="btn btn-outline-primary btn-rounded btn-lg active" id="adminBoletas" style="display:none;">Administrar Boletas</a>
          <a href="/analisis/" role="button" class="btn btn-outline-primary btn-rounded btn-lg active" id="analisis">Revisar <br> Ventas</a>
          
        </div>
      </div>
    </div>
    <script>
      const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function(xhr, settings){
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });

      $(document).ready(function() {
        $.ajax({
          type: "POST",
          url: "{% url 'esAdmin' %}",
          data: { "myvar" : "somedata" },
          success: function(response){
            if (response["esAdmin"]){
              console.log(response["esAdmin"]);
              if (response["esAdmin"] == "True"){
                document.getElementById("botonesAdmin").style.display="inline";
                document.getElementById("adminBoletas").style.display="inline-block";
              }
              else{
                document.getElementById("botonesAdmin").style.display="none";
                document.getElementById("adminBoletas").style.display="none";
              }
            }
          }
        });
      });
    </script>
    
</body>
</html>